html {
    scroll-behavior: smooth;
  }
body{
    background-image: url("../images/wallpaper.jpg");
    background-color:black;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}
h1{
    color:white;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: sans-serif;
}
h2{
    color:white;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: sans-serif;  
}
h4{
    color:white;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: sans-serif;
}
p{
    color:white;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.black-transp{
    background-color: rgba(0, 0, 0, 0.7);
}
.full-vh{
    height: 100vh;
}
.center-itens{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;  
}
#presentation{
    height: calc(100vh - 64px);
}
@media only screen and (max-width: 600px) {
    #presentation{
        height: calc(100vh - 56px);
    }
}
#teste{
    height: calc(100vh - 64px);
    justify-content: center;
    align-items: center;
    text-align: center;
}
